/*global*/
body {
    font-family: palatino, georgia, serif;
    font-size: 20px;
    background-color: #fcfcfc;
    color: #272727;
    line-height: 1.5em;
    margin:0
}

a {
    color: #272727;
    text-decoration: none;
    border-bottom: 1px solid lightgrey;
}

a:hover {
    border-bottom-color: black;
}

.hr {
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
}

/*
 * Menu
 */
 
div .menu {
    border-bottom: lightgrey;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

div .menu .menuList .brand {
    color:black;
    display:inline;
    padding: 5 10 5 10;
    cursor: pointer;
    font-weight: bold;
}

div .menu .menuList .menuItem {
    color:grey;
    display:inline;
    padding: 5 5 5 10;
    cursor: pointer;
}

div .menu .menuList .menuInfo {
    font-size: 15;
    position:absolute;
    right:0;
    margin-right:8px;
    color:grey;
    display:inline;
}

div .menu .menuList>div {
  transition: color .25s;
  background-image: none;
}

div .menu .menuList>div:hover {
  background-image: linear-gradient(to bottom, transparent 75%, currentColor 75%);
  background-image: none;
  color: orange;
}

/*
 * Content
 */
.app .content{
  width: 60% ;
  margin-left: auto ;
  margin-right: auto ;
}

/*
 * Post
 */
.post .content {
    width: 100% ;
}

.post .title {
    font-size: 30px;
    padding : 30 0 10 0;
    text-transform: uppercase;
    cursor: pointer;
}

.post .author {
    display: inline;
    font-size: 15px;
    color : grey;
    text-transform: uppercase;
    padding : 2 10 2 0;
}

.post .date {
    display: inline;
    font-size: 15px;
    color : grey;
    padding : 2 10 2 0;
}

.post .contentSeparator {
    width: 60%;
    border-style: dotted;
    border-width: 1px;
    border-color: lightgrey;
}







